.topBar {
  background-color: #ef0078;
  height: 80px;
  position: relative;
}

.topBar h1 {
  color: white;
  position: absolute;
  bottom: 0;
}

/* .page {
  position: relative;
}

.pageContent {
  position: absolute;
}

.footer {
  bottom: 0;
  position: fixed;
}

.navList {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ef0078;
}

.navListItem {
  padding: 15px 4px;
  float: left;
}

.routerLink {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}*/

.libraryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.libraryItem h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.libraryItem h4 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
