.topBar {
  background-color: #ef0078;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar {
  background-color: #ef0078;
}

.topBar h1 {
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}

/* .page {
  position: relative;
}

.pageContent {
  position: absolute;
}

.footer {
  bottom: 0;
  position: fixed;
}

.navList {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ef0078;
}

.navListItem {
  padding: 15px 4px;
  float: left;
}

.routerLink {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}*/

.pageContent {
  padding-top: 105px;
}

.libraryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.libraryItem h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.libraryItem h4 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.moodBtns {
  display: flex;
  flex-direction: column;
}

.moodBtn {
  background-color: #ef0078;
  color: white;
}

.loaderContainer {
  background-color: #121212;
  height: 100vh;
}

.loader {
  padding-top: 75%;
  padding-left: 25%;
}

.detailsLoader {
  padding-top: 60%;
  padding-left: 25%;
}

.suggestionGrid {
  /* display: grid;
  grid-template-columns: auto auto auto; */
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.songCard {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  width: 100px;
  height: 145px;
}

.songCard img {
  width: 100px;
  height: 100px;
}

.songCard h3 {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 90px;
  height: 20px;
  overflow: hidden;
}

.songCard h4 {
  font-size: 12px;
  color: white;
  width: 90px;
  height: 15px;
  margin-left: 5px;
  overflow: hidden;
}
